/* home page things */
#home-container {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(images/intro-background.png);
}

/*   stuffs */
#navbar-container {
    height: 7%; /* Adjusted height */
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    background-color: #423e3e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Centering the navbar horizontally */
    margin-left: auto; /* Centering the navbar horizontally */
    margin-right: auto; /* Centering the navbar horizontally */
}

.navbar-button {
    height: 90%; /* Adjusted height */
    width: 10%;
    margin-top: .2%;
    margin-right: 1%;
    border-radius: 3px;
    text-align: center;
    background-color: #212121;
}

#home-intro {
    height: 45%;
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

/* about me page thingies  */
#about-me-container {
    height: 800px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #212121;
}

#about-me-image {
    height: 70%;
    width: 30%;
    position: relative;
    display: flex;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 6%;
    background-color: #423e3e;
}

#about-me-text {
    height: 70%;
    width: 40%;
    position: relative;
    display: flex;
    align-self: flex-end;
    margin-bottom: 8%;
    margin-left: 20%;
    background-color: #423e3e;
}

/* wow, there's stuff for the services page from this point !!! */
#services-container {
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row; /* Stack items vertically */
    justify-content: space-around; /* Align items at the top */
    align-items: center; /* Center items horizontally */
    background-color: #212121;
}

#services-title {
    text-align: center;
    margin: 0 auto;
}

.services-box {
    width: 20%;
    height: 60%;
    margin: 0 10px; /* Adjust the amount of white space by changing the value */
    max-width: calc(25% - 20px); /* This ensures responsiveness */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #423e3e;
}

.services-box-title {
    width: 15%;
    height: 7%;
    margin-top: 1%;
    position: absolute;
    background-color: #212121;
}

.services-box-image {
    width: 25%;
    height: 40%;
    margin-top: 20%;
    background-color: #212121;
}

.services-box-text {
    width: 50%;
    height: 60%;
    margin-top: 20%;
    background-color: #212121;
}

/* projects stuffs from here on */
#projects-container {
    height: 800px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    background-color: #212121;
}

#projects-title {
    text-align: center;
    margin: 0 auto;
}

#projects-subtitle {
    margin: 5px auto;
    margin-bottom: 30px;
    height: 40px;
    width: 60%;
    background-color: #423e3e;
}
#projects-rows {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    align-items: center;
}

.projects-buttons {
    margin: 0 auto;
    height: 40px;
    width: 80%;
    background-color: #423e3e;
    text-align: center;
}

.projects-images {
    margin: 0 auto;
    height: 500px;
    width: 80%;
    background-color: #423e3e;
    text-align: center;
}

#testimonials-container {
    height: 500px;
    width: 100%;
    background-color: #212121;
    justify-content: center;
}

#testimonials-title {
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

#testimonials-box-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.testimonials-box {
    margin: 0 auto;
    height: 2000%;
    width: 70%;
    border-radius: 5px;
    background-color: #423e3e;
}

#contact-container{
    height: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
}

#contact-title {
    text-align: center;
}

#contact-text {
    text-align: center;
    width: 34%;
    margin-top: 20px;
}

#contact-form-container{
    height: 750px;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-submit {
    margin-top: 50px;
    height: 90px;
    width: 60%;
    background-color: #423e3e;
}

#message-submit {
    margin-top: 15px;
    height: 400px;
    width: 60%;
    background-color: #423e3e;
}

#footer-container {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
}


#footer-navbar {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15%;
    width: 80%;
    background-color: #423e3e;
}

#icon-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    height: 80px;
    width: 80%;
}

#copyright {
    text-align: center;
    margin-top: 50px;
    height: 40px;
    width: 80%;
}

